@use "../../styles/variables" as *;

#signup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .logo {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .formContainer {
    width: 500px;
    padding: 64px;
    border: 1px solid $base-color3;
    border-radius: 4px;
  }
}
