@use "../../styles/variables";

#dashboard {
  height: 100%;
  display: grid;
  grid-auto-columns: auto max-content;
  grid-auto-rows: max-content auto;
  grid-template-areas:
    "navbar navbar"
    "content sidebar";

  #mainNav {
    grid-area: navbar;
  }

  .ingredients {
    grid-area: sidebar;
  }

  .recipes {
    grid-area: content;
  }
}
