@use "../../../styles/variables" as *;

.pantry {
  height: 100%;
  width: 375px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $base-color4;

  .searchIngredients {
    background-color: white;
    position: relative;
    padding: 4px 8px;
    border-radius: 4px;

    .input {
      width: 100%;
      background-color: transparent;
    }

    .options {
      width: 100%;
      max-height: 200px;
      overflow: auto;
      padding: 4px 0;
      background-color: white;
      user-select: none;
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      z-index: 1;

      .option {
        padding: 4px 8px;
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
          background-color: $base-color3;
        }
      }
    }
  }

  .ingredientList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    user-select: none;

    .ingredient {
      width: fit-content;
      padding: 2px 12px;
      border-radius: 16px;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      background-color: $base-color4;
      filter: brightness(125%);
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
