//https://www.color-meanings.com/
$text-color: #020403; //obsidian
$text-color2: #333333; //dark charcoal

$base-color: #faf5ef; //rice
$base-color2: #f0ead6; //eggshell
$base-color3: #cccdc6; //pastel gray
$base-color4: #ff9999; //salmon

$border-color: #36454f; //charcoal
